<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>


    <form class="forma" action="/contact" method="post">
        <div class="formmm">
        <div class="number1">
            Введите номер телефона <br>
            <input type="number" class="phone_numb" name="number" placeholder="Укажите номер телефона" required> <br>
        </div>
        <div class="fio">
            Введите ваше имя <br>
            <input type="text" class="names"  name="name" placeholder="Укажите имя"> <br>
        </div>
        <div class="zakaz1">
            Опишите заказ <br>
            <textarea class="zakz" name="zakaz" placeholder="Заказ" wrap="on" cols=”25” rows=”25” required ></textarea><br>
        </div>
        <div class="otp">
            <input type="submit" value="Отправить">
        </div>
    </div>
    </form>

</body>
</html>